html {
  background-color: transparent;
  height: 100%;
  width: 100%;
  z-index: 999;
}

.page {
  max-width: 1024px;
  margin: 0 auto;
}

body {
  max-width: 100vh;
  min-width: 65%;
  min-height: 100vh;
  max-height: 70%;
  background-color: papayawhip;
  position: relative;
  margin: 0 auto;
  padding: 0;
  font-family: Georgia;
  font-size: 1.4rem;
  line-height: 1.5;
}

p {
  font-size: 1.4rem;
}

a {
  color: black;
  text-decoration: blue;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
  position: relative;
}

a: hover {
  text-decoration: underline;
  cursor:pointer;
}

ul {
  font-family: Helvetica;
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  margin-top: 0;
}

li {
  list-style: none;
}

.band ul li {
  display: inline-block;
  margin-right: 35px;
}


header {
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 70%;
  font-size: 1.6rem;
  z-index: 999;
}

main {
  position: relative;
  display: ;
  align-items: center;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 20px
  padding: 0;
}

.main-content {
  margin: 0 auto;
  margin-top: 5vh;
}

.sidebar {
  float: right;
  width: 30%;
  height: 100vh;
  position: relative;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  padding: 2vh;
  border-top: 0;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  max-width: 960px;
  height: 100vh;
  margin-bottom: 0;
  margin: 0 auto;
  margin-top: 0;
}

body.home .sidebar {
  display: flex;
}

h1 {
  font-size: 3.6rem;
  font-family: American Typewriter;
  margin: 0;
 margin-top: 0;
 margin-left: 0;
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2.8rem;
  font-family: Georgia
}

h3 {
  font-size: 1.8rem;
  font-family: Georgia;
}

h4 {
  font-size: 2.2.rem;
  font-family: Georgia;
}

h5 {
  font-size: 2.0rem;
  font-family: Georgia;
}

h6 {
  font-size: 0.85rem;
  font-family: Georgia;
  margin-top: -1rem;
}

footer {
  width: 70%;
  height: 50px;
  margin: auto;
  bottom: 0;
  position: fixed;
  align: bottom;
}

img {
  max-width: 100%:
}

.center {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.middle {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

div {
  margin-top: 0;
}

  section {
    margin: 2vh;
    margin-top: 5vh;
    padding: 0;
  }

nav {
  width: 100%;
}

.mosaic {
  display: flex;
}

.mosaic img {
  width: 33.33%;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  33.33% {
    margin-left: -100%;
  }
  66.66% {
    margin-left: -200%;
  }
  100% {
    margin-left: 0%;
  }
}

.column{
  float: left;
  width: 23.33%;
.row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.mosaic img {
  animation: slide 7s infinite;
}

@media only screen and (max-device-width: 900px) {
/* .menu { width:100%; } */
}

@media only screen and (max-device-width: 900px) {
/* .menu { width:600px; } */
}

@media only screen and (max-device-width: 700px) {
/* .menu { width:400px; } */
}

@media screen and (min-width: 800px) {
  .container {
    margin: 1em 2em;
  }
}
