html {
  font-size: 1em;
  background-color: transparent;
  height: 100%;
}

header {
  float: left;
  width: 100%;
  font-size: 1.6rem;
  margin-top: 2vh;
  margin-bottom: 2vh;
  position: relative;
   z-index: 1;
}

body {
  max-width: 100vh;
  min-width: 65%;
  min-height: 100vh;
  max-height: 70%;
  background-color: papayawhip;
  position: relative;
  margin: 0 auto;
  padding: 0;
  font-family: Georgia;
  font-size: 1.4rem;
  line-height: 1.5;
}

p {
  font-size: 1.4rem;
}

main {
  clear: both;
  position: relative;
  align: left;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
}

.wrapper {
  display: grid;
  max-width: 960px;
  margin: 0 auto;
}

@media only screen and (max-device-width: 900px) {
/* .menu { width:100%; } */
}

@media only screen and (max-device-width: 900px) {
/* .menu { width:600px; } */
}

@media only screen and (max-device-width: 700px) {
/* .menu { width:400px; } */
}

@media screen and (min-width: 800px) {
  .container {
    margin: 1em 2em;
  }
}

h1 {
  font-size: 3.6rem;
  margin: 2vh;
 margin-top: 0;
 margin-left: 0;
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

.page {
  max-width: 1024px;
  margin: 0 auto;
}

.col {
  width: 6.25%; /* 60 / 960 = 0.0625 */
}

img {
  max-width: 100%:
}

nav {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
}

ul {
  font-family: Helvetica;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
  display: flex;
  align-items:left;
  justify-content: left;
}

li {
  list-style: none;
  margin-bottom: 1rem;
}

a {
  color: black;
  text-decoration: blue;
  font-weight: bold;
  cursor: pointer;
  z-index: 10;
  position: relative;
}

a: hover {
  text-decoration: underline;
  cursor:pointer;
}

footer {
  width: 70%;
  height: 50px;
  margin: auto;
  bottom: 0;
  position: fixed;
  align: bottom;
}

.band ul li {
  display: inline-block;
  margin-right: 35px;
}

.center {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.middle {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
