html {
  font-size: 62.5%;
}

title {
  font-size: 24px;
}

body {
  max-width: 65%;
  margin: 0 auto;
  font-family: Georgia;
  font-size: 62.5%;
  line-height: 1.5;
}

p {
  font-size: 14px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  /* define um layout de duas colunas */
}

.main-content {
  width: 65%;
  /* define a largura da área de conteúdo principal */
  margin-right: 30px;
}

.sidebar {
  width: 30%;
  /* define a largura da sidebar */
}


h1 {
  font-size: 1.6em;
}

.page {
  width: 1024px;
  margin: 0 auto;
}

ul {
    font-family: helvetica
}

li {
    list-style: circle;
}

li {
    list-style: square;
}

.wrapper {
  display: flex;
}


#msg {
    font-family: monospace;
}

.center {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
