html {
  font-size: 62.5%;
}

body {
  max-width: 65%;
  margin: 0 auto;
  font-family: Georgia;
  font-size: 62.5%;
  line-height: 1.5;
}

p {
  font-size: 14px;
}

h1 {
  font-size: 1.6em;
}

.page {
  width: 1024px;
  margin: 0 auto;
}

ul {
    font-family: helvetica
}

li {
    list-style: circle;
}

li {
    list-style: square;
}

#msg {
    font-family: monospace;
}

.center {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
