body {
  max-width: 60%;
  margin: 0 auto;
  font-family: Georgia;
  font-size: 12px;
  line-height: 1.5;
}

.page {
  width: 1000px;
  margin: 0 auto;
}

ul {
    font-family: helvetica
}

li {
    list-style: circle;
}

li {
    list-style: square;
}

#msg {
    font-family: monospace;
}

.center {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
