<header class="site-header">
  <nav class="site-nav">
    <a class="logo" href="{{ .Site.BaseURL }}">
      
      <a href="/">Início</a>
      <a href="/about">Bio</a>
      <a href="/projects">Acervo</a>
      <a href="/blog">Blog</a>
      <a href="/blogroll">Blogroll</a>
      <a href="/now">Agora</a>
      <a href="/contact">Contatos</a>

    </a>
    <ul class="main-menu">
      {{ range.Site.Menus.main }}
      <li>
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </nav>
</header>
