*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: transparent;
  z-index: 1;
  margin: 0 auto;
  padding: 0 auto;
  font-size: 62.5%;
  overflow-x: hidden;
}

header {
  margin: 0 auto;
  position: relative;
  white-space: nowrap;
  z-index: 2;
  font-size: 2vh;
  text-align: center;
}

body {
  background-color: snow;
  position: relative;
  display: grid;
  place-items: center;
  margin: 0 auto;
  padding: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Garamond, Georgia; Serif;
  line-height: 1.5;
}



nav, footer {
  color: #111111;
  text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    margin: 10px 0 15px 0;
}

nav > a {
  font-size: 1.3rem;
  font-family: sans-serif;
  flex: 1;
  text-align: center;
  margin: 0 10px;
}

a {
  color: black;
  text-decoration: blue;
  font-weight: bold;
  cursor: pointer;
  z-index: 5;
  position: relative;
  display: inline;
}

a:focus, a:hover {
color: black;
background-color: #ddd;
text-decoration: blink;
cursor: pointer;
}

a.tag {
  background-color: #ddd;
  color: #333;
  padding: 0 1.0em 0 1.0em;
  font-size: 1.2rem;
  text-decoration: none;
}

main {
  clear: both;
  margin: 0 auto;
  padding: 0 auto;
}

h1 {
  font-size: 3.6rem;
  font-family: "Courier Prime", "Courier New", serif;
  font-weight: bold;
  margin: 1vh;
  padding: 1vh;
  display: inline;
  z-index: 4
  max-width: 100%;
}

h2 {
  font-size: 3.0rem;
  font-family: Monospace;
    /*font-family: "Courier Prime", "Courier New", "Police Monospace", serif; */
  margin: 1vh;
  padding: 1vh;
}

h3 {
    font-size: 2.2rem; /* 24px */
    font-family: Georgia, "EB Garamond", Garamond, Georgia, Times, serif;
    padding-top: 0.5vw;

  }

  p {
    font-size: 2.0rem;
    font-family: "EB Garamond", Garamond, Georgia, Times, serif;
    line-height: 1.5;
    margin-bottom: 15px;
  }

  p.indent {
      text-indent: 47px;
  }

  p::firt-letter {
    font-size: 2rem;
    font-weight: bold;
    float: left;
    margin: 2px 5px;
  }

  ol {
    list-style-position: inside;  /* Coloca o marcador da lista dentro da caixa de conteúdo */
    padding-left: 20px;           /* Adiciona espaçamento à esquerda */
}

li {
    display: list-item;           /* Garante que cada item da lista seja exibido como bloco */
    margin-bottom: 16px;           /* Adiciona um espaço entre os itens */
    font-size: 1.5rem;
}

  time {
    font-size: 1.3rem;
    color: #363636;
    font-style: italic;
  }

  .projects {
    display: grid;
    gap: 16px; /* Espaçamento entre os itens */
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  .project-item {
  display: flex;
  flex-direction: column;
}



  .featured-image {
    width: 100%;
    height: auto;
    display: block;
    transition: filter 0.3s ease; /* Animação de escurecimento */
    border-radius: 6px;
    object-fit: cover; /* Mantém a proporção */
  }
}

  .project-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }

  .featured-image-container {
    position: relative;
    width: 100%;
    overflow: hidden; /* Para garantir que nada saia dos limites do contêiner */

  }

  .featured-image {
    width: 100%;
    height: 120px;
    display: block;
    transition: filter 0.3s ease; /* Animação de escurecimento */
    border-radius: 6px;
    object-fit: cover;
  }

  .project-title {
    font-family: Monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #; /* Fundo semi-transparente */
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px; /* Tamanho maior */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    text-align: center; /* Centralizar texto */
  }

  .project-link:hover .featured-image {
    filter: brightness(30%); /* Escurece a imagem */
  }

  .project-link:hover .project-title {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
  }

.pagination > page-item {
  border: 1px solid #ddd;
  flex: 1;
  text-align: center;
  width: 53m;
}

.pagination .page-link {
  display: block;
  color: #000;
  text-decoration: none;
}

.pagination > .page-item.active {
  background-color: #333;
}

.pagination > .page-item.active > .page-link {
  color: #fff;
}

.pagination > .page-item.disabled > .page-link {
  color: #ddd;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

footer {
  margin: 0 auto;
  padding: 0 auto 5vh auto;
  color: black;
}

/* Main (conteúdo principal da página) */
.home main {
  clear: both;
  position: relative;
  align-items: center;
  margin-left: 0;
  padding: 1vh;
  min-width: 35vw;
  max-width: 80vw;
}

.home container {
  width: 100%;
  margin: 0 auto;
}

.home figure {
  margin: 0 auto;
  padding: 0 auto;
}

.gallery {
  display: grid;
  grid-gap: 7px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 100%;
}

/*layout padrão para telas largas (foda-se mobile first)*/
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 6px;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery__item--2 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gallery__item--4 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gallery__item--5 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gallery__item--6 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gallery__item--7 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
}

blockquote {
font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 1em auto;
  padding: 0;
}

.pagination > .page-item {
  border: 1px solid #ddd;
  flex: 1;
  text-align: center;
  width: 5em;
}

.pagination .page-link {
  display: block;
  color: #000;
  text-decoration: none;
}









@media (min-width: 1280px) {
  .projects {
    grid-template-columns: repeat(3, minmax(100px, 1fr)); /* Mantém no máximo 3 colunas */
  }

  .featured-image-container {
    position: relative;
    width: 100%;
    overflow: hidden; /* Para garantir que nada saia dos limites do contêiner */
  }
}

/*layout responsivo para telas estreitas*/
@media screen and (max-width: 768px), only screen or (orientation: portrait) {

  .container {
  width: 90%;
  margin: 0 auto;}
}

nav {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 0;
  }

  nav > a {
      justify-content: center;
      font-size: 1.8rem;
  }
  
  .gallery {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    grid-template-rows: repeat(2, 1fr); /* Ajuste automático das linhas */

  }

  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .gallery__item--2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .gallery__item--4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .gallery__item--6 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;

  }

  .gallery__item--7 {
    grid-column-start: 1;
    grid-column-end: 3; /* Ocupa as 2 colunas */
    grid-row-start: 4;
    grid-row-end: 6;
  }
}

@media only screen and (min-width: 768px) {
   body {
      width: 60%
    }
}
  
  .project-container { display: flex; }

  .project-container .project-list { width: 20%; }

  .project-container .project { flex: 1; }

  .pagination {
    width: 30%;
  }
}

@media print {
  * {
      background: transparent;
      color: #000;
      text-shadow: none; 
      filter: none;
     -ms-filter: none;
  }
  
     body {
        background: #fff !important;
    }
    header {
        box-shadow: none;
        background: #fff !important;
        padding-top: 0px;
    }

    header h1 {
        background: #fff;
    }
  
   .menu,
  .banner,
  nav { display: none; }

  .print {
  display: none; // quando o que eu quero imprimir está oculto
}
  
.no-print {
  display: block; //quando o que eu não quero imprimir esta visivel
}
  
/*Todos los enlaces*/
  a:after {
    content: " (" attr(href) ")";
}

/*Los enlaces que tienen una url que empieza con http*/
a[href^=http]:after {
    content: " (" attr(href) ")";
}

/*Enlaces que se abren en nueva pagina*/
a[target=_blank]:after {
    content: " (" attr(href) ")";
}
    footer {
        background: #fff;
    }

    footer .container {
        background: #fff;
        box-shadow: none;
        border: 2px solid #000;
    }
  
}


@font-face {
  font-family: "Courier Prime";
  src: local("Courier Prime"), url("fonts/courierprimebold.ttf");
}

@font-face {
  font-family: "Courier New";
  src: local("Courier New"), url("fonts/couriernew.ttf");
}

@font-face {
  font-family: "EB Garamond";
  src: local(Garamond), url("fonts/EBGaramond-Regular.ttf");

@font-face {
  font-family: Georgia;
  src: local(Georgia), url("fonts/georgia.ttf");

@font-face {
  font-family: "Gill Sans";
  src: local(Constantia), url("fonts/gillsans.otf");
