*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: auto;
  margin: 1vw; 
  padding: 0 auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block; 
  margin: 1vh;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item--2 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 9;
}

.gallery__item--4 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 9;
}

.gallery__item--5 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--6 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--7 {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 7;
}
