<footer>

<br>
<small style="display: flex; justify-content: center; gap: 5px;" >

  <a rel="me" href="https://ursal.zone/@danylamirinda/"> <img src="/img/boxicons/bxl-mastodon.svg" height="18" ></a>
  <a rel="me" href="https://instagram.com/danielydasilva_/"><img src="/img/boxicons/bxl-instagram.svg" height="18"></a>
  <a rel="me" href="https://github.com/danielysilva/"><img src="/img/boxicons/bxl-github.svg" height="18"></a>
  <a rel="me" href="https://www.linkedin.com/in/danielytavaresdasilva"><img src="/img/boxicons/bxl-linkedin.svg" height="18"></a>
  <a href="mailto:contato@danielysilva.com.br"><img src="/img/boxicons/bx-mail-send.svg" height="18"></a>
  <a href="http://danielysilva.com.br/feed.xml"><img src="/img/boxicons/bx-rss.svg" height="18"></a>

</small>
<br>
<div>&copy {{ now.Year }} Daniely Silva </div>

</footer>
