<footer>

<br>
<div style="display: flex; justify-content: center; gap: 5px;" >

  <a rel="me" href="https://ursal.zone/@danylamirinda/"> <img class="social" src="/img/boxicons/bxl-mastodon.svg"></a>
  <a rel="me" href="https://instagram.com/danielydasilva_/"><img class="social" src="/img/boxicons/bxl-instagram.svg"></a>
  <a rel="me" href="https://github.com/danielysilva/"><img class="social" src="/img/boxicons/bxl-github.svg"></a>
  <a rel="me" href="https://www.linkedin.com/in/danielytavaresdasilva"><img class="social" src="/img/boxicons/bxl-linkedin.svg"></a>
  <a href="mailto:contato@danielysilva.com.br"><img class="social" src="/img/boxicons/bx-mail-send.svg"></a>
  <a href="http://danielysilva.com.br/index.xml"><img class="social" src="/img/boxicons/bx-rss.svg"></a>
</div>
  <br>

  <small> &copy 2023-{{ now.Year }} Daniely Silva </small>

<br>
</footer>
