<article>



  <div style="display: inline">   <time>{{ .Date | dateFormat "02/01/2006" }}</time>
    
    <h3>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h3> 
  
  </div>

    

<span >  {{ range .Params.categories }}
           <a style="color: #640000; font-size: 14px; font-family: sans-serif" href="{{ "/blog/categories/" | relLangURL }}{{ . | urlize }}">{{ . }} </a>
       {{ end }} </span>

<span class="tags">
      {{ range .Params.tags }}
      <a class="tag" href="/blog/tags/{{ . | urlize }}">{{ . }}</a> {{ end }} </span>





    
<p>
  {{ .Summary }}    {{ if .Truncated }}
  <span>    <a href="{{ .RelPermalink }}">Leia mais...</a> </span></p>

    
      {{ end }}


</article>
