<article>








  <time>{{ .Date | dateFormat "02/01/2006" }}</time>


  <h3>    <a href="{{ .RelPermalink }}">{{ .Title }}</a> </h3>






  {{ range .Params.categories }}
 <a style="color: #640000; font-size: 14px; font-family: sans-serif" href="{{ "/blog/categories/" | relLangURL }}{{ . | urlize }}">{{ . }} </a>
       {{ end }}

<span class="tags">
      {{ range .Params.tags }}
      <a class="tag" href="/blog/tags/{{ . | urlize }}">{{ . }}</a> {{ end }} </span>



<div>




{{ if .Params.featured_image }}

<a href="{{ .RelPermalink }}">
   <img src="{{ .Params.featured_image }}" alt="{{ .Params.featured_image_alt }}" title="{{ .Params.featured_image_title }}" class="featured-image" style="aspect-ratio: 19 / 9; object-fit: cover; border-radius: 8px;">

{{ end }}
</a></div>






<small>
  {{ .Summary }}    {{ if .Truncated }}
    <a href="{{ .RelPermalink }}">Leia mais...</a> </small>



      {{ end }}


</article>
