---
layout: default
author: "Daniely Silva"
---

<section>
  <div class="blog-container">
  <h1>  {{ page.title }} <h1>
    {{ content }}

    {% for post in site.posts %}
      <div class="blog-unit">
        <h1><a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a></h1>
                <span class="blog-date">
          {% assign m = post.date | date: "%-m" %}
    {{ post.date | date: "%-d de" }}
    {% case m %}
      {% when '1' %}Janeiro
      {% when '2' %}Fevereiro
      {% when '3' %}Março
      {% when '4' %}Abril
      {% when '5' %}Maio
      {% when '6' %}Junho
      {% when '7' %}Julho
      {% when '8' %}Agosto
      {% when '9' %}Setembro
      {% when '10' %}Outubro
      {% when '11' %}Novembro
      {% when '12' %}Dezembro
    {% endcase %}
    {{ post.date | date: " de %Y" }}
    <span class="post-categories">
     {% if post %}
       {% assign categories = post.categories %}
     {% else %}
       {% assign categories = page.categories %}
     {% endif %}
     {% for category in categories %}
     <a href="categorias">{{category}}</a>
     {% unless forloop.last %}&nbsp;{% endunless %}
     {% endfor %}
    </span>      </span>

      </div>
    {% endfor %}
  </div>
</section>
