{{ define "main" }}




   <h2>{{ .Title }}</h2>



 <nav style="justify-content:space-between;">

  <div hidden>
  <a href="{{ "blog/blogroll/" | relURL }}">Blogroll</a>
  </div>
     
  <!-- Link para a página de Categorias -->
  <a href="{{ "/blog/categories/" | relURL }}">Categorias</a>

  <!-- Link para a página de Tags -->
  <a href="{{ "/blog/tags/" | relURL }}">Tags</a>

</nav>

{{ .Content }}



{{ range .Pages }}
    {{ partial "post_summary.html" . }}
    {{ end }}






<br>
    <div hidden><p>
      {{ partial "pagination.html" . }}</p>
    </div>
{{ end }}
