{{ define "main" }}


      <h2>{{ .Title }}</h2>
  <p>{{ .Params.Author }} -  <time>  {{ .Date.Format "02/01/2006"}}</time>


      <br>
    <small> Tempo de leitura: {{ math.Round (div (countwords .Content) 200.0) }} minutos.

    <span >  {{ range .Params.categories }}
               <a style="color: #640000; font-size: 14px; font-family: sans-serif" href="{{ "/blog/categories/" | relLangURL }}{{ . | urlize }}">{{ . }} </a>
           {{ end }} </span>

    <span class="tags">
      {{ range .Params.tags }}
      <a class="tag" href="/blog/tags/{{ . | urlize }}">{{ . }}</a></span></small>
      {{ end }}

</p>




    <section class="body">
      {{ .Content }}
    </section>
{{ end }}
