body {
    font-family: monospace;
}

ul {
    font-family: helvetica
}

li {
    list-style: circle;
}

li {
    list-style: square;
}

#msg {
    font-family: monospace;
}

.center {
width: 50%;
margin-left: auto;
margin-right: auto;
}
