{{ define "main" }}
<div class="project-container">
      <section class="project">
        <h2>{{ .Title }}</h2>

    <p>    <span>
    <img src="/img/daniely-silva1.png" alt="Retrato em plano fechado de moça sorridente" style="display:inline; height: 15px; width: 15px;">
        {{ .Params.Author }} -  <time>  {{ .Date.Format "02/01/2006"}}</time> </span>

    {{ if .Params.featured_image }}
<div class="break-out">
            <div class="featured-image-container">
    <img src="{{ .Params.featured_image }}" alt="{{ .Params.featured_image_alt }}" title="{{ .Params.featured_image_title }}">
  </div> </div>


{{ end }}
</p>

        {{ .Content }}
      </section>

    </div>
{{ end }}
